body{
    background-color:burlywood;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
h1{
    color:rgb(0, 0, 0); 
    font-weight: 900;  
}
p{
    color: blue;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
} 
